"# Drivers - DO NOT COMMIT TO GIT (Exam requirement)" 
"drivers/chromedriver.exe" 
"drivers/" 
"" 
"# Maven" 
"target/" 
"" 
"# IDE" 
".idea/" 
"*.iml" 
"" 
"# Compiled files" 
"*.class" 
"*.log" 
"" 
"# System files" 
".DS_Store" 
